<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="css/styles4.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="/adminhome">Eziline</a>
  <!-- Sidebar Toggle-->
  <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
  <!-- Navbar Search-->
  <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
    </div>
  </form> -->
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle ml-auto" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>


  <form style="margin-top:30px"class="" action="/Removeuser" method="post">
<div class="container-fluid px-4">


<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    All Employes
  </div>
  <div class="card-body">
    <table id="datatablesSimple" class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>password</th>
          <th>Image</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>password</th>
          <th>Image</th>
          <th>Remove</th>
        </tr>
      </tfoot>
      <tbody>

          <% for (let i=0; i<user.length; i++) { %>
          <tr>
            <td><%= user[i].name %></td>
            <td><%=  user[i].password  %></td>
            <td><img src="<%=  user[i].url  %>" alt="user-img"width="40" height="40" class="rounded-circle"></td>

            <td><button name="removebtn" type="submit" value="<%= user[i].name %>" class="btn btn-primary btn-sm">Remove</button></td>

          </tr>
          <% } %>
</form>

      </tbody>
    </table>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
